*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 767px){

}


@media (min-width: 768px) and (max-width: 990) {
  
}


@media (min-width: 991px){
  
}


header {
  background-color:  rgb(149, 195, 248);
}

main {
  background-color: rgb(149, 195, 248);
}

footer {
  background-color:  rgb(149, 195, 248);
}

a {
  color: rgb(0, 0, 0);
}

a {
  text-align: left;
  font-size: 26px;
}

h1 {
  color: white;
  flex-wrap: wrap;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.promo {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  position: relative;
  left: 50px;
}

img {
  width: 300px;
}

#imagen {
  width: 150px;
}



.navBar {
  display: flex;
  justify-content: end;
  list-style: none;
  flex-wrap: wrap;
}

#mapa {
  float: right;
}

.h1 {
  color: black;
}

.h2 {
  color: black;
  flex-wrap: wrap;
}

.h3 {
  color: black;
}

.h5 {
  font-size: 20px;
}



.productos12 {
  width: 280px;

}



.formulario {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(43, 159, 226);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo123{
  width: 150px;
}
h2 {
  text-align: center;
}

.campo {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}



.button:hover {
  background-color: #45a049;

}

.button:active{
  background-color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.promo {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  display: inline-block;
  width: 100px;
  flex-wrap: wrap;
}

.promo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-wrap: wrap;
}

.promo h3 {
  margin-top: 10px;
  flex-wrap: wrap;
}
.foto-logo{
  width: 150px;
}


.tarjeta {
  background-color:  rgb(149, 195, 248);
  width: 300px;
  border: solid 5px;
  transform: translateX(50px);
  padding: 15px;
  margin: 15px;
  display: inline-block;

  .imagen-tarjeta{
    width: 250px;
  }

  .button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



}
  

  